<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Squart</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BronzeNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BronzeNight</string>
				</array>
				<key>CFBundleIconName</key>
				<string>BronzeNight</string>
			</dict>
			<key>Forest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Forest</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Forest</string>
			</dict>
			<key>Ivory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ivory</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Ivory</string>
			</dict>
			<key>Obsidian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Obsidian</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Obsidian</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BronzeNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BronzeNight</string>
				</array>
				<key>CFBundleIconName</key>
				<string>BronzeNight</string>
			</dict>
			<key>Forest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Forest</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Forest</string>
			</dict>
			<key>Ivory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ivory</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Ivory</string>
			</dict>
			<key>Obsidian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Obsidian</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Obsidian</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.board-games</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
